http:
  middlewares:
    authentik-auth:
      forwardAuth:
        address: "{{ authentik_outpost_url }}"
        trustForwardHeader: true
        authResponseHeaders:
          - "X-authentik-username"
          - "X-authentik-groups"
          - "X-authentik-email"
          - "X-authentik-name"
          - "X-authentik-uid"

  routers:
    truenas:
      rule: "Host(`{{ truenas_domain }}`)"
      service: "truenas"
      entryPoints:
        - "websecure"
      tls:
        certResolver: "myresolver"

    proxmox:
      rule: "Host(`{{ proxmox_domain }}`)"
      service: "proxmox"
      entryPoints:
        - "websecure"
      tls:
        certResolver: "myresolver"

{% if enable_remote_apps_routes %}
    paperless:
      rule: "Host(`{{ paperless_domain }}`)"
      service: "paperless"
      entryPoints:
        - "websecure"
      tls:
        certResolver: "myresolver"

    immich:
      rule: "Host(`{{ immich_domain }}`)"
      service: "immich"
      entryPoints:
        - "websecure"
      tls:
        certResolver: "myresolver"
{% endif %}

  services:
    truenas:
      loadBalancer:
        servers:
          - url: "{{ truenas_internal_url }}"
        passHostHeader: true

    proxmox:
      loadBalancer:
        servers:
          - url: "{{ proxmox_internal_url }}"
        serversTransport: "insecureTransport"

{% if enable_remote_apps_routes %}
    paperless:
      loadBalancer:
        servers:
          - url: "http://{{ ryzen_ip }}:{{ paperless_service_port }}"
        passHostHeader: true

    immich:
      loadBalancer:
        servers:
          - url: "http://{{ ryzen_ip }}:{{ immich_service_port }}"
        passHostHeader: true
{% endif %}

  serversTransports:
    insecureTransport:
      insecureSkipVerify: true

tcp:
  routers:
    ldap-secure:
      entryPoints:
        - "ldaps"
      rule: "HostSNI(`{{ authentik_domain }}`)"
      service: "ldap-outpost"
      tls:
        certResolver: "myresolver"

  services:
    ldap-outpost:
      loadBalancer:
        servers:
          - address: "authentik-ldap-outpost:3389"
