---
# Copy this file to secrets.yml and encrypt it with:
# ansible-vault encrypt secrets.yml

# === Traefik / Cloudflare ===
cert_email: "admin@example.com"
cloudflare_token: "CF_DNS_API_TOKEN_HERE"

# === Authentik ===
authentik_postgres_password: "CHANGE_ME"
authentik_secret_key: "CHANGE_ME"
authentik_ldap_token: "CHANGE_ME"
